{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}

<!-- Center area -->
<!-- <div class="center"> -->
    <div class = "container">
        <div class="row align-items-center justify-content-md-center">
            <div class="col-md-auto">
              <div class="box">
                <h1>{% trans "Social Network Login Failure" %}</h1>
                <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
<!-- Center area end -->
</div>
</div>
</div>
</div>
{% endblock %}