<!DOCTYPE html>
<html>
  <head>
    	<!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Jquery read in -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script> -->


      <!-- Both bootstraps read in -->
      <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

      <!-- Title Render -->
      <title>{% block head_title %}{% endblock %}</title>
    
      <!-- read in icon -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
      <!-- CSS file read in -->
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-social.css' %}">
      {% block extra_head %}
      {% endblock %}
  </head>
  <body>
      <!-- Header -->
	    {% include 'header.html' %}
    {% block body %}

    {% if messages %}
    <div class="notification" hidden>
      <strong>Messages:</strong>
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}

    	<!-- Footer -->
	<br>
	<br>
  {% include 'footer.html' %}
  
  </body>
</html>