{% extends "account/base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}



<!-- Center area -->
<div class = "container">
    <div class="row align-items-center justify-content-md-center">
        <div class="col-md-auto">
          <div class="box">
<!-- <div class="center"> -->

<h1 id="signin">{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="description">
  {% blocktrans with site.name as site_name %}If you don't have an account, please <a href="{{ signup_url }}">sign up</a>
  <br>
    for a {{ site_name }} account.{% endblocktrans %}
</div>

<div class="socialaccount_ballot">

<!-- facebook login -->
<a class="btn btn-block btn-social btn-facebook" href="{% provider_login_url "facebook" method="js_sdk" %}">
    <span class="fab fa-facebook"></span> Sign in with facebook
</a>
{% include "socialaccount/snippets/login_extra.html" %}
<div class="login-or">{% trans 'or' %}</div>
<!-- google login -->
<a class="btn btn-block btn-social btn-google" href="{% provider_login_url "google" method="js_sdk" %}">
    <span class="fab fa-google"></span> Sign in with google
</a>
{% include "socialaccount/snippets/login_extra.html" %}
</div>

<div class="login-or">{% trans 'or' %}</div>
{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<!-- facebook login -->
<!-- <a href="{% provider_login_url "facebook" method="js_sdk" %}">Login Button image</a> -->

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
      <input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Username or Email" type="text" />
      <br>
      <input id="id_password"  class="login-input" name="password" placeholder="Password" type="password" />
      <br>
      <div class="remember-forgot-section">
          <input id="id_remember" name="remember" type="checkbox" checked/>
          <label for="id_remember">Remember Me</label>
          <br>
          <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
    {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <br>
  <div class="signinbtn">
    <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
  </div>
</form>

</div>
</div>
</div>
</div>
<!-- Center area end -->

<!-- Center area -->
<br>
<div class = "container">
  <div class="row align-items-center justify-content-md-center">
      <div class="col-md-auto">
        <div style="color: red;">
{{ form.non_field_errors }}
<br>
{{ form.login.errors }}
<br>
{{ form.password.errors }}
</div>
</div>
</div>
</div>
{% endblock %}