{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% if redirect_field_value %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}

<!-- Center area -->
<!-- <div class="center"> -->
    <div class = "container">
        <div class="row align-items-center justify-content-md-center">
            <div class="col-md-auto">
              <div class="box">

<h1 id="signin">{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
      <input id="id_email" name="email" type="email" placeholder="email@address.com">
      <br>
      {{ form.username }}
      <br>
      {{ form.password1 }}
      <br>
      {{ form.password2 }}     
<br><br>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="signinbtn">
  <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %} </button>
  </div>
</form>

<!-- Center area end -->
</div>
</div>
</div>
</div>

<!-- Error area -->
<br>
<div class = "container">
  <div class="row align-items-center justify-content-md-center">
      <div class="col-md-auto">
        <div style="color: red;">
{{ form.non_field_errors }}
{{ form.email.errors }}
{{ form.username.errors }}
{{ form.password1.errors }}
{{ form.password2.errors }}
</div>
</div>
</div>
</div>

{% endblock %}
