.parallax {
    /* Set a specific height */
    min-height: 805px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.title-part{
    /* position:center;  */
    font-size:40px; 
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 4.0em;
    /* color: rgb(10, 7, 7); */
    text-align: center;
}

/* .big{
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    /* background-position: center;
} */ 

.about{
    position:center;
    text-align: center;
    width: 100%;
}

.body{
    background-color: rgb(247, 245, 242);
}

.btn btn-default-outline btn-md{
    font-weight: 500; 
    background-color:rgba( 0, 0, 0, .2 ); 
    border-color: aliceblue; 
    color:white
}