.title{
    text-align: center;  
    /* font-family: 'DancingScriptRegular'; */
    color:rgba(53, 36, 36, 0.856);
}

.content{
    text-align: justify;
    margin-top: 2.5%;
    padding-left:12%;
    padding-right:12%;
    font-family: 'Times New Roman',Times,serif;
    color:rgba(53, 36, 36, 0.856);
    font-size: 1.3em;

}

.about{
    text-align: center;
    padding-top: 7%;
}