body {
	color: black;
    background: url(/home/yvonne/Desktop/Project/244828.jpg);
    background-size: cover;
    background-position: center; 
}

h1{
	color: black;
}
img {
	width: 100%;
}
/*div {
	border: 1px solid black;
	height: 100px;
}*/

.navigation{
	padding-left: 8%;
	padding-right: 8%;
	background-color: #e3f2fd;
	opacity: 0.6;
	text-align: center;
}

.head{
	color: black;
	padding-left: 12%;
	padding-right: 12%;
}

.card{
	margin: 20px;
}

.row{
	padding-left: 12%;
	padding-right: 12%;
	position: center;
}

.container{
	position: center;
	padding-top: 2%;
	text-align: center;
}

