body {
    background-color: rgb(255, 255, 255);
    background-size: cover; 
    background-position: center;  
}

/* body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lobster";
    color: rgb(0, 0, 0);
} */

/* h1 {
    color: black;
	font-weight: 700;
	font-size: 6em;
} */

.title{
    padding-left:5%;
    padding-right:5%;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;   
}
.content{
    text-align: justify;
    margin-top: 4%;
    padding-left:12%;
    padding-right:12%;
}

/* .navigation{
    padding-left: 5%;
    background-color: #e3f2fd;
    opacity: 0.6;
    text-align: center;
} */

/* #like_button_container, {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
}

.like{
    text-align: justify;
    margin-block-end: 0%;
    vertical-align: middle;
    color: #ea0000;
    outline: none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    /* box-shadow: 0 0 22px 4px rgba(0,0,0,0.1); */
    /* height: 40px;
    width: 100px; */
    /* transition: box-shadow 0.3s;
    box-shadow: 3px 3px 22px 4px rgba(0,0,0,0.1); */
/* } */ 

.like {
    background: #f97779;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f97779), to(#ce2424));
    background: -moz-linear-gradient(#f97779, #ce2424);
    background: linear-gradient(#f97779, #ce2424);
    /* border: solid 1px #be2424; */
    border-bottom: solid 3px #bd2524;
    box-shadow: inset 0 0 0 1px #e67e7b;
    color: #fff;
    text-shadow: 0 1px 0 #bd2524; }
    
.like :hover {
    background: #ce2424;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ce2424), to(#f97779));
    background: -moz-linear-gradient(#ce2424, #f97779);
    background: linear-gradient(#ce2424, #f97779);
    /* border: solid 1px #be2424; */
    border-bottom: solid 3px #bd2524;
    box-shadow: inset 0 0 0 1px #e67e7b; }
    
.like:active {
    background: #ce2424;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ce2424), to(#f97779));
    background: -moz-linear-gradient(#ce2424, #f97779);
    background: linear-gradient(#ce2424, #f97779);
    /* border: solid 1px #be2424; */
    box-shadow: inset 0 10px 15px 0 #bd2524; }

.like_section{
    color: #ce2424;
    font-size: 100%;
    position: relative;
    text-align-last: right;
}