<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
    <!-- Header -->
	{% include 'header.html' %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title">
					<h1>Title</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="content">
					<h4>A lot of words and images(probably) can go in here blablablablabla or 
						do some row and columns and etc. More contents and words to fill in 
						the space hahahahahaha! still need more etc etc etc. Have no idea what should i put here now just words.</h4>
				</div>
			</div>
		</div>
	</div>

	

	<!-- Footer -->
	<br>
	<br>
	{% include 'footer.html' %}
	
</body>
</html>
