<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>CityName</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/city.css' %}">
</head>
<body style="background-color: rgba(226, 222, 222, 0.2)">

<!-- Header -->
{% include 'header.html' %}

<!-- City name -->
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="CityName">
				<br>
				<script>
				var city_name = '{{city_name}}';
				</script>
				<h2>{{city_name}}</h2>
			</br>
			</div>
		</div>
	</div>
</div>

<!-- Category Dropdown -->
<script>
	function selectCategory(cat){document.getElementById('dropdown').innerHTML=cat}
</script>
<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="dropdown">
					<button id='dropdown' class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Category
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a id='all' class="dropdown-item" href="#/" onclick="javascripts:selectCategory('all')">all</a>
					<!-- <a id='attraction' class="dropdown-item" href="#/" onclick="javascripts:selectCategory('attraction')">attraction</a>
					<a id='history' class="dropdown-item" href="#/" onclick="javascripts:selectCategory('history')">history</a>
					<a id='memory' class="dropdown-item" href="#/" onclick="javascripts:selectCategory('memory')">memory</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>

<!-- Stories -->
<div id='storyBox' class="container"></div>


	<!-- Footer -->
	<br>
	<br>
	{% include 'footer.html' %}

	<!-- Load React. -->
  	<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

	<!-- Load Babel -->
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<!-- Load our React component. -->
	<script type="text/babel" src="{% static 'js/city_react.js' %}"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</body>
</html>