<!DOCTYPE html>
<html>
<head>
	<title>CityName</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="city.css">
</head>
<body>
<div class="navigation">
	<nav class="navbar navbar-expand-lg navbar-light">
  		<a class="navbar-brand" href="#">Fairtalers</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
   			<ul class="navbar-nav mr-auto">
      			<li class="nav-item active">
        			<a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      			</li>
      			<li class="nav-item active">
        			<a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
      			</li>
      			<li class="nav-item active">
        			<a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link disabled" href="#">Creator center</a>
      			</li>
    		</ul>
    		<form class="form-inline my-2 my-lg-0">
      			<a class="nav-link" href="#">Sign In<span class="sr-only">(current)</span></a>
     			<a class="nav-link" href="#">Sign Up<span class="sr-only">(current)</span></a>
    		</form>
  		</div>
	</nav>
</div>


<div class="head">
	<p></p>
		<h1>CITY NAME</h1>
		<h4>Dublin City, does it need an introduction? I mean, everybody knows a bit about the capital of Ireland. But what are the basic facts you really need to know? That it is the home of Guinness? That it is on the Liffey? That it is not as large as it seems to be? Here's what you should know about Dublin before arriving at the airport ...</h4>
</div>

<div class="row">

	<div class="card" style="width: 20rem;">
  		<img class="card-img-top" src="https://f4.bcbits.com/img/0011621512_10.jpg" alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="/home/yvonne/Desktop/Project/story.html" class="btn btn-primary">Read</a>
  		</div>
	</div>

	<div class="card" style="width: 20rem;">
  		<img class="card-img-top" src="https://f4.bcbits.com/img/0011621512_10.jpg" alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="file://home/yvonne/Desktop/Project/story.html#" class="btn btn-primary">Read</a>
  		</div>
	</div>

	<div class="card" style="width: 20rem;">
  		<img class="card-img-top" src="https://f4.bcbits.com/img/0011621512_10.jpg" alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="#" class="btn btn-primary">Read</a>
  		</div>
	</div>


	<div class="card" style="width: 20rem;">
  		<img class="card-img-top" src="https://f4.bcbits.com/img/0011621512_10.jpg" alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="#" class="btn btn-primary">Read</a>
  		</div>
	</div>


	<div class="card" style="width: 20rem;">
  		<img class="card-img-top" src="https://f4.bcbits.com/img/0011621512_10.jpg" alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="#" class="btn btn-primary">Read</a>
  		</div>
	</div>


	<div class="card" style="width: 20rem;">
  		<img class="card-img-top" src="https://f4.bcbits.com/img/0011621512_10.jpg" alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="#" class="btn btn-primary">Read</a>
  		</div>
	</div>

	<div class="card" style="width: 20rem;">
  		<img class="card-img-top" src="https://f4.bcbits.com/img/0011621512_10.jpg" alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="#" class="btn btn-primary">Read</a>
  		</div>
	</div>

	<div class="card" style="width: 20rem;">
  		<img class="card-img-top" src="https://f4.bcbits.com/img/0011621512_10.jpg" alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="#" class="btn btn-primary">Read</a>
  		</div>
	</div>
</div>

<div class="container">
	<div class="row align-items-center justify-content-center" id="pagination">
		<!-- <nav aria-label="Page navigation example"> -->
 			<ul class="pagination">
    			<li class="page-item"><a class="page-link" href="#">Previous</a></li>
    			<li class="page-item"><a class="page-link" href="#">1</a></li>
    			<li class="page-item"><a class="page-link" href="#">2</a></li>
    			<li class="page-item"><a class="page-link" href="#">3</a></li>
    			<li class="page-item"><a class="page-link" href="#">Next</a></li>
  			</ul>
		<!-- </nav> -->
	</div>
</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</body>
</html>