<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Contact - Towntory</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
    <!-- Header -->
	{% include 'header.html' %}

	<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title">
						<h1>Title</h1>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content">
					</div>
				</div>
			</div>
		</div>
	


	<!-- Footer -->
	<br>
	<br>
	{% include 'footer.html' %}

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	
</body>
</html>
