<script> SERVER_ENDPOINT = 'http://0.0.0.0:8000/' </script>

<script> writeUrl= SERVER_ENDPOINT + 'app/write';</script>
<script> cityUrl= SERVER_ENDPOINT + 'app/city';</script>
<script> landingUrl= SERVER_ENDPOINT + 'app';</script>
<script> aboutUrl= SERVER_ENDPOINT + 'app/about';</script>
<script> contactUrl= SERVER_ENDPOINT + 'app/contact';</script>
<script> uploadImg = SERVER_ENDPOINT + 'app/uploadImg';</script>
<script> loginUrl = SERVER_ENDPOINT + 'accounts/login';</script>
<script> logoutUrl = SERVER_ENDPOINT + 'accounts/logout';</script>
<script> signupUrl = SERVER_ENDPOINT + 'accounts/signup';</script>