<script> SERVER_ENDPOINT = 'https://www.towntory.com/' </script>
<!-- <script> SERVER_ENDPOINT = 'http://0.0.0.0:8000/' </script> -->
<!-- <script> SERVER_ENDPOINT = 'http://10.0.0.195:8000/' </script> -->
<script> 

writeUrl= SERVER_ENDPOINT + 'app/write';
cityUrl= SERVER_ENDPOINT + 'app/city';
landingUrl= SERVER_ENDPOINT + 'app';
aboutUrl= SERVER_ENDPOINT + 'app/about';
contactUrl= SERVER_ENDPOINT + 'app/contact';
uploadImgURLs = SERVER_ENDPOINT + 'app/uploadImgURLs';
uploadArticleUrl = SERVER_ENDPOINT + 'app/uploadArticle';
loginUrl = SERVER_ENDPOINT + 'accounts/login';
logoutUrl = SERVER_ENDPOINT + 'accounts/logout';
signupUrl = SERVER_ENDPOINT + 'accounts/signup';
storyUrl = SERVER_ENDPOINT + 'app/story';
discoverUrl = SERVER_ENDPOINT + 'app/discover';
deleteStoryUrl = SERVER_ENDPOINT + 'app/deleteStory';
userURL = SERVER_ENDPOINT + 'app/profile';
geobyteUrl = 'https://secure.geobytes.com/';
geobyteKey = '&key=2c29ba219af59117749182ab71bfec96';
likeUrl = SERVER_ENDPOINT + 'app/storyLike';

</script>