<!-- Include Endpoints -->
{% include 'endpoints.html' %}

{% load static %}
<script src="{% static 'js/header.js' %}"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


<!-- <script>
$(window).scroll(function(){
    if ($(window).scrollTop() >= 300) {
        $('navigation').addClass('fixed-header');
    }
    else {
        $('navigation').removeClass('fixed-header');
    }
});
</script> -->

<!-- navigation bar whole set -->
<div class="navigation" style="font-weight: 500">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light py-0">
            <a class="navbar-brand py-0" href="#" onclick="javascripts:home();">
                {% load static %}
                <img src="{% static 'image/globe_icon.png' %}" height='40px' alt="TownStory">
            </a>
            <button class="navbar-toggler py-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse py-0" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link py-0" href="#" onclick="javascripts:home();">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link py-0" href="#" onclick="javascripts:discovery();">Discovery<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link py-0" href="#" onclick="javascripts:about();">About<span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item active">
                    <a class="nav-link py-0" href="#" onclick="javascripts:contact();">Contact<span class="sr-only">(current)</span></a>
                    </li> -->
                    
            </ul>
	
			<!-- Search box and its buttom -->
				<form class="form-inline my-20 my-lg-0" hidden>
					<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

                
                {% if not user.is_authenticated %}
                <!-- Sign in and sign up buttom -->
                <ul class="navbar-nav mr-0">
                    <!-- Temporary allowing anonymous-->
                    <ul class="navbar-nav mr-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="#" id="writercenter" onclick="javascripts:writer();"><i class="fas fa-pencil-alt"></i>
                                    Write</a>
                            </li>
                        </ul>
                     <li class="nav-item active">
                      <a class="nav-link" href="#" id="signin" onclick = "javascripts:login();"><i class="fa fa-user"></i> log in<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                      <a class="nav-link" id="signup"  href="#" id="signup" onclick = "javascripts:signup();"><i class="fa fa-user-plus"></i> sign up<span class="sr-only">(current)</span></a>
                      </li>
                  </ul>
                {% else %}
                <script>username = '{{user.username}}'</script>
                <!-- Sign in and sign up buttom -->
                <ul class="navbar-nav mr-2">
                        <li class="nav-item active">
                            <a class="nav-link" href="#" id="username" onclick="javascripts:profile();">Howdy! {{user.username}}<span class="sr-only">(current)</span></a>
                        </li>
                        <ul class="navbar-nav mr-0">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#" id="writercenter" onclick="javascripts:writer();"><i class="fas fa-pencil-alt"></i>
                                        Write</a>
                                </li>
                            </ul>
                        <li class="nav-item active">
                            <a class="nav-link" href="#" id="signin" onclick = "javascripts:logout();">log out<span class="sr-only">(current)</span></a>
                        </li>
                        </ul>
                {% endif %}

            </nav>
        </div>
    </div>
</div>

