<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->

	<!-- read in jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

	<!-- read in both mini bootstrap -->
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

	<!-- read in google fonts -->
	<!-- <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->

	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

	{% load static %}
	<!-- read in css-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"> 

	<!-- read in own javascript -->
	{% load static %}
	<script src="{% static 'js/landing.js' %}"></script>

	<title>Towntory</title>
</head>
<body>
	<!-- Header -->
	{% include 'header.html' %}

	<!-- Background Img and styles -->
	<style>
		body{
			background-size:cover;
			/* background-color: #CDCDC0; */
			background-image:url("{% static 'image/paper_edit.png' %}");
			background-repeat: repeat;
			background-position: center;
		}
	</style>

	<!-- Seprate part -->

	<div class="container" id="introduction">
		<div class="row justify-content-center">
			<!-- Introduction-->	
			<div class="col-lg-10">
				<img src="{% static 'image/alley_edit.png' %}" alt="" style="width:100%;">
				<div class="intro">
						<p>Town Story</p>
						<h3>You are the history observer</h3>
				</div>
			</div>


			<!-- Write -->
			<div class="col-lg-10">
					<img src="{% static 'image/typewriter_edit.jpg' %}" alt="" style="width:100%;">
					<div class="intro">
							<p>Write</p>
							<h3>write your story from here</h3>
					</div>
				</div>

			<br>
			<!-- Discovery -->
			<div class="col-lg-10">
				<img src="{% static 'image/discovery_edit.png' %}" alt="" style="width:100%;">
				<div class="intro">
						<p>Discovery</p>
						<h3></h3>
				</div>
			</div>

			<!-- end seperate part -->

		</div>
		
	</div>



	
	<!-- city search part -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 align-self-center">
				<div class="content">
						<!-- Autocomplete City -->
						{% include 'autocomplete.html' %}
					<br>
					<br>
					<button class="btn btn-default btn-lg" onclick="javascripts:validateCity();"><i class="fab fa-earlybirds"></i>search</button>
				</div>
			</div>
		</div>
	</div>

		<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->


	<!-- Footer -->
	{% include 'footer.html' %}
</body>
</html>