<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->

	<!-- read in jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

	<!-- read in both mini bootstrap -->
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

	<!-- read in google fonts -->
	<!-- <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->

	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

	{% load static %}
	<!-- read in css-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"> 

	<!-- read in own javascript -->
	{% load static %}
	<script src="{% static 'js/landing.js' %}"></script>

	<title>Towntory</title>

</head>
<body>
	<!-- Header -->
	{% include 'header.html' %}

	<!-- separate part -->




	<style>
		#first{
			background-image: url("{% static 'image/typewriter.jpg' %}");
		}
	</style>
	
	<div class="parallax" id="first"></div>

	<div class="title" style="height:100px; font-size:70px">
		<h1>Town Story</h1>
		<h3>Welcome to town story, please drop down your memory!!Here should be a sentence or two to descripe the principle of this site.</h3>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<br>
				<br>
				<div class="about" style="background-color: white; height:300px; font-size:35px">
					<p>Here goes some thing about us, a intro with more details!!! </p>
					<p>Here goes some thing about us, a intro with more details!!! </p>
					<p>Here goes some thing about us, a intro with more details!!! </p>
				</div>
			</div>
		</div>
	</div>


		<div class="container">
			<div class="row">
				<div class="col-lg-12" style="height: 500px; background-color: rgb(70, 202, 109);">
					<h1 id="write_section">write</h1>
				</div>
			</div>

			<br>
			<br>

			<div class="row">
				<div class="col-lg-12" style="height: 500px; background-color: rgb(18, 75, 199);">
					<h1 id="discovery_section">discovery</h1>
				</div>
			</div>

		</div>
	
	<!-- Footer -->
	<br>
	<br>
	{% include 'footer.html' %}
</body>
</html>