<!DOCTYPE html>
<html>
<head>
	<title>story</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
</head>
<body>
	<!-- Header -->
	{% include 'header.html' %}


	<div class="content">
		<h1>{{title}}</h1>
		<h4>{{summary}}</h4>
		{% autoescape off %}
		<div id='content'>{{content}}</div>
		{% endautoescape %}
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
