<!DOCTYPE html>
<html>
<head>
	<script>story_id = '{{story_id}}'</script>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	
	<title>story</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
	<!-- icon font -->
	<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>


	<!-- states -->
	<script>
		isLiked = {{isLiked}};
		number_of_like = {{like}};
		isLogged = {{isLogged}};
	</script>

	<style>
		.content{
			text-align: justify;
			margin-top: 4%;
			padding-left:0%;
			padding-right:0%;
}
	</style>
  
</head>
<body>
	<!-- Header -->
	{% include 'header.html' %}

	<style>
		body{
			background-color:rgba(255, 255, 255, 0.2);
		}
		</style>

	<div class="content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-9">
					<div class="title">
					<h1><b>{{title}}</b></h1>
				<div class="d-flex justify-content-center"><p>by: {{author}}</p></div>
				<br>
				<div class="d-flex justify-content-center" style="color: rgba(34, 33, 30, 0.9); text-align: left;"><h5>{{summary}}</h5></div>

			</div>
			<br>
			<!-- Contents -->
			{% for item in content %}
				{% if item.0 == 'header'%}

				<br>
				<div class="d-flex justify-content-lg-center">
					<h4><b>{{ item.1 }}</b></h4>
				</div>
				<br>

				{% elif item.0 == 'paragraph'%}
				<div class="d-flex justify-content-start" style="font-size: 18px; ">
					<p>{{ item.1 }}</p>
				</div>

				{% elif item.0 == 'image'%}
				<br>
				<div class="d-flex justify-content-center">
					<img src="{{ item.1 }}" style="margin-bottom: 2em; align-self: center;" alt="image loading" width="100%" height="auto" >
				</div>
				{% else %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	</div>
	</div>

	<!-- like and comment -->
	<!-- like -->
	<div class="container">
		<br>
		<br>
		<div class="row justify-content-center">
			<div class="col-lg-9">
			{% if isLogged == 'false'%}
			<div class="announcement" style="display: inline-block;">Please <a href="#/" onclick = "javascripts:loginRedirect('/app/story?story_id='+story_id);">log in</a> to vote and comment</div>
			{% endif %}
			<div class="like_section">
				<div id="likeButton" style="display: inline-block;"></div>
			</div>
		</div>
	</div>
	</div>

	<!-- comment -->
	
	<br>
	<br>
	<br>
	<div class="container">
	<div class="row justify-content-center">
	<div class="col-md-9">
	<hr>
	<div id="comment_section"></div>
	<!-- <div class="detailBox"> 
		<div class="titleBox">
		  <label>Comment</label>
		</div> -->
		<!-- <div class="commentBox">
		</div> -->
		<!-- <div class="actionBox">
			<ul class="commentList" id="commentDisplay">
				{% for item in commentList %}
				<li>
					<div class="username"><strong>{{item.user}}</strong></div>
					<span class="date sub-text">{{item.comment_time}}</span>
					<div class="commentText">
						<p class="">{{item.content}}</p> 
					</div>
					<hr>
				</li>
				{% endfor %}

				{% if not commentList%}
				<li>
					<p>Do you want to leave first comment here? </p>
				</li>
			{% endif %}
			</ul>

			<form class="form-inline" role="form">
				<div class="form-group">
					<span id='commentWarning' class="error text-danger" hidden>You didn't enter any content here :(</span>
					<input class="form-control" type="text" size="45" id="comment" placeholder="Your comments" />
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-default" onclick="javascripts:addcomment()">Add</button>
				</div>
			</form>
		</div>
	</div> -->
	</div>
	</div>
	</div>	

	<!-- delete button -->
	{% if is_author %}
	<script>
		function deleteStory(){
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				response = JSON.parse(this.responseText);
				if (response.status == true){
					window.location.assign(cityUrl+'?city_name='+'{{city_name}}')
					}
				}
			};
				xhr.open('DELETE', deleteStoryUrl + '?story_id={{story_id}}');
				xhr.send();
			}
	</script>
	<br>
	<!-- Button trigger the delete modal -->
	<div class="container">
		<div class="row justify-content-center">
			<button class="btn btn-outline-dark" data-toggle="modal" data-target="#deleteConfirmation"> Delete </button>
		</div>
	</div>
  
	<!-- Modal -->
	<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			Are you sure?
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			<button type="button" class="btn btn-danger" onclick="javascripts:deleteStory()">Delete Story</button>
			</div>
		</div>
		</div>
	</div>
	{% endif %}
	<br>



	<!-- Footer -->
	<br>
	<br>
	{% include 'footer.html' %}
	

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

	<!-- Load React. -->
  	<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  	<!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> -->

	<!-- deploying -->
	<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
	  
	
	<!-- Load Babel -->
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<!-- Load our React component. -->
	<!-- <script type="text/babel" src="{% static 'js/like_button.js' %}"></script> -->
	<script type="text/babel" src="{% static 'js/comment_section.js' %}"></script>
	<script src="{% static 'js/like_button_test.js' %}"></script>
	<!-- <script src="{% static 'js/comment_section_test.js' %}"></script> -->

</body>
</html>
